{% extends 'base.html' %}

{% block head %}
<title>Results</title>
{% endblock %}

{% block  body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div style="width:100;display:block;margin: 1rem auto;">
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="color:white;">
            ¿Qué dice nuestro dataet?
          </a>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top:2rem;">
        {% if company_list %}
          <table class="table table-responsive">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Duración (meses)</th>
                <th scope="col">Interes</th>
                <th scope="col">Aceptado</th>
              </tr>
            </thead>
            <tbody>
              {% for company in company_list %}
                <tr>
                  <th scope="col">{{company.id}}</th>
                  <td>{{company.facebook_name}}</td>
                  <td>$ {{company.amount}}</td>
                  <td>{{company.duration}}</td>
                  <td>{{company.inflation}} %</td>
                  <td>
                    {% if company.result %}
                      <i class="fas fa-check" style="color:green;"></i>
                    {% else %}
                      <i class="fas fa-times" style="color:red;"></i>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
            <div class="pagination" style="float:right;">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/home/api/?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                    {% endif %}
                    <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/home/api/?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        {% else %}
          <p>There are no books in the library.</p>
        {% endif %}
        </div>
    </div>
  </div>
  <!-- Modal -->
  <style media="screen">
    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .modal-content {
      height: auto;
      width: 100vw;
      min-height: 100%;
      border-radius: 0;
    }
    .table {
      border-radius: 5px;
      width: 50%;
      margin: 0px auto;
      float: none;
    }
    @media (max-width: 1200px) {
      .table{
        width: 100%;
      }
    }

  </style>
  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">The Lending CLub</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZDllZDc0OWItZWJmNS00ZTJiLWEwN2UtMGFmM2VlNjdjNzFiIiwidCI6IjQ4MmE2NzA2LWRlNzUtNDYxNC05Zjk0LTcyY2MwYmE5ZTEwNyJ9" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
