{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="text-center col-sm-12">
            <h1>Bienvenid@</h1>
            <p>En esta página podras averigurar si eres elegible para un crédito</p>
            <div id="accordion" style="margin: 2rem;">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <i class="far fa-question-circle"></i> ¿Qué necesito para pedir el crédito? <i class="far fa-question-circle"></i>
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <ul style="list-style-type:none;">
                        <li>Cantidad total del préstamo (en pesos mexicanos)</li>
                        <li>La cantidad de tiempo (en meses) en que pagrás de vuelta</li>
                        <li>Acceso a la cuenta de Facebook de tu compañía</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <h3>Pide tu credito ahora</h3>
            <form method="post">
              <fieldset>
                {% csrf_token%} <!-- makes sendding data more secure-->


                <div class="d-flex justify-content-center">
                <form method="post">
                  <fieldset>
                    <div class="form-row">
                      <div class="col">
                        <label>Nombre de la Compañía</label>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Nombre de la empresa que pide el préstamo">
                          <i class="fas fa-info-circle"></i>
                        </span>
                        {{form.facebook_name}}
                      </div>
                      <div class="col">
                        <label>Cantidad del prestamo </label>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cantidad monetaria total del préstamo en MXN">
                          <i class="fas fa-info-circle"></i>
                        </span>
                        {{form.amount}}
                      </div>
                      <div class="col">
                        <label>Duración</label>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Tiempo en meses para pagar el préstamo">
                          <i class="fas fa-info-circle"></i>
                        </span> <br>
                        {{form.duration}}
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary" href="{% url 'accounts:login' %}" style="display:block;margin:1rem auto;">Submit</button>
                  </fieldset>
                </form>
                </div>

              </fieldset>
            </form>
    </div>
</div>

{% else %}
  <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  class ="img-fluid " src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2017/didartificia.jpg" alt="Los Angeles" width="1450" height="400"  object-fit= cover >
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
{% endif %}
{% endblock%}
