{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="text-center col-sm-12">
            <h1>Bienvenid@</h1>
            <p>En esta página podras averigurar si eres elegible para un crédito</p>
            <h5>¿Qué necesito?</h5>
            <ul style="list-style-type:none;">
                <li>Cantidad total del préstamo (en pesos mexicanos)</li>
                <li>La cantidad de tiempo (en meses) en que pagrás de vuelta</li>
                <li>Acceso a la cuenta de Facebook de tu compañía</li>
            </ul>
        
            <div class="container">
            <h3>Pide tu credito ahora</h3>
            <form method="post">
                {% csrf_token%} <!-- makes sendding data more secure-->
                 {{ form.as_p }}   <!-- export form from django-->
                <button type="submit" class="btn btn-primary" href="{% url 'accounts:login' %}" >Submit</button>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endblock%}