{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center col-sm-12">
            <h1>Bienvenid@</h1>
            <p>En esta página podras averigurar si eres elegible para un crédito</p>
            <h5>¿Qué necesito?</h5>
            <ul style="list-style-type:none;">
                <li>Cantidad total del préstamo</li>
                <li>La cantidad de tiempo en que pagas de vuelta</li>
                <li>Acceso a la cuenta de Facebook de tu compañía</li>
            </ul>
        </div>
    </div>
{% endblock %}
