<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>?????</title>
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-light navbar-expand-lg navbar-muted bg-white sticky-top">

        <a class="navbar-brand text-muted" href="{% url 'home:home' %}" style="margin-left: 110px"><i class="fas fa-credit-card"></i> CreditScore</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon my-toggler"></span>
          </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link text-muted" href="{% url 'accounts:view_profile' %}">{{ user.first_name}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-muted" href="{% url 'home:view_company' %}"><i class="fas fa-tachometer-alt"></i> Simulator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-muted" href="{% url 'home:res' %}"><i class="fas fa-tasks"></i> Results</a>
              </li>
              <li class="nav-item dropdown text-muted">
                <a class="nav-link dropdown-toggle text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 80px">
                  Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" >

                <a class="dropdown-item text-muted"  href="{% url 'accounts:edit_profile' %}"><i class="fas fa-edit"></i> Edit Profile</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-muted" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout </a>
              </li>
            </ul>
          </div>

           {% else %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 80px">
                        <li class="nav-item">
                          <a class="nav-link text-muted" href="{% url 'accounts:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-muted" href="{% url 'accounts:register' %}">Register</a>
                        </li>
                    </ul>
                </div>

      {% endif %}

      </nav>
      <hr style="margin: 0px">
      {% block body %}

      {% endblock %}

    </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
</html>
